#App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  background-color: #f5f3ed;
  color: #2a3132;
}

.pac-container {
  z-index: 2000 !important;
}

.btn-text-black {
  text-transform: none !important;
  color: black !important;
}

.btn-primary {
  background-color: #877253 !important;
  color: white !important;
  border-radius: 0.6rem !important;
  height: 2.5rem !important;
  padding: 0 1.5rem !important;
  font-size: 1rem !important;
  text-transform: none !important;
  transition: background-color 0.3s, opacity 0.3s !important;
}

.btn-primary:hover {
  background-color: #866f4c !important;
  opacity: 0.8 !important;
}

.btn-primary:disabled {
  background-color: #bfa782 !important;
  color: #6b4d1f !important;
  cursor: not-allowed !important;
  opacity: 0.6 !important;
}

.btn-secondary {
  height: 2.5rem;
  background-color: #ffffff !important;
  border-radius: 0.6rem !important;
  text-transform: none !important;
  border: 1px solid #835d23 !important;
  padding: 0 1.5rem !important;
  color: #2a3132 !important;
  font-size: 1rem !important;
  transition: background-color 0.3s, opacity 0.3s !important;
}

.btn-secondary:hover {
  background-color: #e4d9c9 !important;
  opacity: 0.8 !important;
}

.btn-delete {
  height: 2.5rem;
  border-radius: 0.6rem !important;
  text-transform: none !important;
  background-color: #cd3c3c !important;
  padding: 0 1.5rem !important;
  color: white !important;
  font-size: 1rem !important;
  transition: background-color 0.3s, opacity 0.3s !important;
}

.btn-delete:hover {
  background-color: #d23535 !important;
}

.card-primary {
  background-color: #ede3d6 !important;
  transition: background-color 0.3s, opacity 0.3s !important;
}

.card-primary:hover {
  opacity: 0.8 !important;
}
